<h2>Editar Habitación</h2>
<form>
  <mat-form-field>
    <mat-label>Nombre</mat-label>
    <input matInput [(ngModel)]="habitacion.nombre" name="nombre" required />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Descripción</mat-label>
    <textarea
      matInput
      [(ngModel)]="habitacion.descripcion"
      name="descripcion"
      required
    ></textarea>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Precio</mat-label>
    <input
      matInput
      type="number"
      [(ngModel)]="habitacion.precio"
      name="precio"
      required
    />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Imagen URL</mat-label>
    <input matInput [(ngModel)]="habitacion.imagen" name="imagen" required />
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="guardar()">Guardar</button>
</form>
