<app-navbar></app-navbar>
<!-- Componente de navegación principal que se muestra en la parte superior de la aplicación. -->

<main>
  <div class="content">
    <!-- Contenedor principal para el contenido dinámico de la aplicación. -->
    <router-outlet></router-outlet>
    <!-- Punto de anclaje para cargar los componentes correspondientes a las rutas configuradas. -->
  </div>
</main>

<app-footer></app-footer>
<!-- Componente del pie de página que se muestra en la parte inferior de la aplicación. -->
