<!-- Contenedor principal, visible solo si la variable 'mostrarDiv' es verdadera -->
<div class="container" *ngIf="mostrarDiv">
  <!-- Título principal -->
  <h2>Gestión de Habitaciones</h2>

  <!-- Formulario para agregar o modificar una habitación -->
  <form (ngSubmit)="guardarHabitacion()">
    <!-- Grupo de formulario para el nombre de la habitación -->
    <div class="form-group">
      <label for="nombre">Nombre de la Habitación</label>
      <input
        type="text"
        id="nombre" 
        [(ngModel)]="nombre"
        name="nombre" 
        class="form-control"
      />
    </div>

    <!-- Grupo de formulario para la descripción -->
    <div class="form-group">
      <label for="descripcion">Descripción</label>
      <textarea
        id="descripcion"
        [(ngModel)]="descripcion"
        name="descripcion"
        class="form-control"
      ></textarea>
    </div>

    <!-- Grupo de formulario para el precio por noche -->
    <div class="form-group">
      <label for="precio">Precio por Noche</label>
      <input
        type="number"
        id="precio"
        [(ngModel)]="precio"
        name="precio"
        class="form-control"
      />
    </div>

    <!-- Campo para ingresar la URL de la imagen -->
    <label for="imagen">URL de la imagen:</label>
    <input
      type="text"
      id="imagen"
      [(ngModel)]="imagen"
      name="imagen"
      required
    />

    <!-- Botones de acción del formulario -->
    <button type="submit" class="btn btn-primary">Guardar Habitación</button>
    
  </form>

  <!-- Listado de habitaciones -->
  <div *ngFor="let hab of habitaciones" class="mt-3">
     <!-- Tarjeta de presentación de cada habitación -->
    <div class="card">
      <div class="card-body">
        <!-- Título de la tarjeta -->
        <h5 class="card-title">{{ hab.nombre }}</h5>
        <!-- Imagen asociada a la habitación -->
        <img
          [src]="hab.imagen"
          alt="Imagen de {{ hab.nombre }}"
          class="img-fluid"
        />

        <!-- Descripción de la habitación -->
        <p class="card-text">{{ hab.descripcion }}</p>
        <!-- Precio por noche formateado como moneda -->
        <p><strong>Precio Noche:</strong> {{ hab.precio | currency }}</p>
        <!-- Botón para eliminar una habitación -->
        <button (click)="eliminarHabitacion(hab.id)" class="btn btn-danger">
          Eliminar
        </button>
        <!-- Botón para editar una habitación -->
        <button (click)="abrirDialogo(hab)" class="btn btn-danger2">
          Editar
        </button>
      </div>
    </div>
  </div>
</div>
