@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.container {
    padding-top: 20px;
  }

.card img {
  max-width: 100%;
  height: auto;
}
  
.card-body {
  padding: 14px;
}
  
body{
  
  background-size: cover;
  
  background-position: center;
  background-repeat: no-repeat;
  filter: sepia(0.2) saturate(1.3); 
}

footer {
  width: 100%;
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

main{
  flex: 1;
}

mat-form-field {
  width: 100%; /* Asegura que el campo de formulario ocupe todo el ancho disponible */
}

/* Ajusta el tamaño de los botones */
button {
  width: 100%; /* Asegura que los botones sean de ancho completo */
  padding: 12px; /* Aumenta el padding para un botón más amplio */
}

/* Agrega un margen al contenedor del formulario */
form {
  max-width: 600px; /* Define un ancho máximo para el formulario */
  margin: 20px auto; /* Centra el formulario horizontalmente */
}

button.mat-raised-button {
  font-size: 16px; /* Aumenta el tamaño de fuente del botón */
  margin-top: 20px; /* Espacio encima del botón */
}

h2 {
  text-align: center; /* Centra el título */
  margin-bottom: 20px; /* Espacio debajo del título */
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
