<nav class="navbar">
    <a href="/"><img src="assets/logo.png" alt="Logo Hotel Boutique" class="logo" /></a>
    <a href="/"><span>El refugio del viajero</span></a>

    <div class="nav-links">
      <a routerLink="/" routerLinkActive="active">Inicio</a>
      <a routerLink="/catalogo" routerLinkActive="active">Habitaciones</a>
      <a routerLink="/about" routerLinkActive="active">Acerca</a>

      <a *ngIf="isAdmin()" routerLink="/admin" routerLinkActive="active">Administración</a>
      <a *ngIf="isClient()" routerLink="/carrito" routerLinkActive="active">Reservas</a>
      <a *ngIf="isClient()" routerLink="/perfil" routerLinkActive="active">Perfil</a>
      
      <a *ngIf="!isAuthenticated()" routerLink="/login" routerLinkActive="active">Iniciar Sesión</a>
      <a *ngIf="isAuthenticated()" (click)="logout()">Cerrar Sesión</a>
    </div>

</nav>
  
