<nav class="navbar">
    <a href="/"><img src="assets/logo.png" alt="Logo Hotel Boutique" class="logo" /></a>
    <a href="/"><span>Hotel Boutique</span></a>
    <div class="nav-links">
      <a routerLink="/" routerLinkActive="active">Inicio</a>
      <a routerLink="/about" routerLinkActive="active">Acerca</a>
      <a routerLink="/catalogo" routerLinkActive="active">Servicios</a>
      <a routerLink="/contact" routerLinkActive="active">Contacto</a>
    </div>
    <div class="auth-links">
      <a *ngIf="!isAuthenticated()" routerLink="/login" routerLinkActive="active">Iniciar Sesión</a>
      <a *ngIf="isAuthenticated()" (click)="logout()">Cerrar Sesión</a>
    </div>
  </nav>
  
