.footer {
  bottom: 0; /* Posiciona el footer en la parte inferior de la página */
  left: 0; /* Alinea el footer al lado izquierdo */
  width: 100%; /* Establece el ancho del footer al 100% de la ventana */
  background-color: #333; /* Color de fondo oscuro (gris oscuro) */
  color: #fff; /* Color del texto en blanco */
  padding: 1rem; /* Espaciado interno de 1rem alrededor del contenido */
  text-align: center; /* Centra el texto dentro del footer */
}

.footer-links a {
  margin: 0 0.5rem; /* Espaciado lateral de 0.5rem entre los enlaces */
  color: white; /* Color del texto de los enlaces en blanco */
  text-decoration: none; /* Elimina el subrayado de los enlaces */
}

.footer-links a:hover {
  color: #007bff; /* Cambia el color del texto a azul al pasar el mouse sobre los enlaces */
}
